@import './app-drawer.sass'
@import 'highlight.js/styles/docco.css'

body
  background: whitesmoke

.q-item__section--avatar
  min-width: unset
  padding-right: 8px

.q-tab-panels,
.q-drawer
  background: transparent !important

.q-field__control
  background: white

code.hljs
  display: block
  overflow-x: auto
  font-size: 12px
  padding: 0.25em
  background: transparent

pre
  margin: 0

pre code.hljs
  font-size: 12px
  padding: 0
  background: transparent

.code-editor
  width: 600px
  height: 150px
